.about {
  width: 90%;
}

.aboutHeader {
  color: #6c2e24;
  font-size: 3em;
}

.about p {
  color: #6c2e24;
  line-height: 2.5em;
  word-spacing: 0.5em;
  padding-bottom: 5%;
}

.aboutMeImage {
  width: 200px;
  height: auto;
  border-radius: 20%;
}

.socialIconContainer {
  display: flex;
  width: 50%;
  justify-content: space-around;
  margin-bottom: 3%;
}

.MuiSvgIcon-fontSizeLarge {
  font-size: 3rem !important;
}

@media only screen and (min-width: 712px) {
  .aboutHeader {
    font-size: 3rem;
  }

  .about p {
    font-size: 1.25rem !important;
  }

  .aboutMeImage {
    float: right;
    margin-left: 3%;
    margin-right: 3%;
  }
}
